<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <welcome-file-list>
    <welcome-file>Login.html</welcome-file>
    <welcome-file>Login.htm</welcome-file>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  
 <servlet>
    <servlet-name>LoginCheck</servlet-name>
    <servlet-class>com.mucfc.LoginCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCheck</servlet-name>
    <url-pattern>/servlet/LoginCheck</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>success</servlet-name>
    <servlet-class>com.mucfc.success</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>success</servlet-name>
    <url-pattern>/servlet/success</url-pattern>
  </servlet-mapping>
  
     <servlet>
    <servlet-name>fail</servlet-name>
    <servlet-class>com.mucfc.fail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fail</servlet-name>
    <url-pattern>/servlet/fail</url-pattern>
  </servlet-mapping> 
  
</web-app>