<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ysj.core.dao.TitleMapper" >
  <resultMap id="Distribution" type="com.ysj.core.po.Distribution" >
  
    <id column="s_id" property="sId" jdbcType="VARCHAR" />
    <result column="s_name" property="sName" jdbcType="VARCHAR" />
    <result column="t_id" property="tId" jdbcType="VARCHAR" />
    <result column="t_name" property="tName" jdbcType="VARCHAR" />

    <association column="t_id"  property="tId" javaType="Teacher"
        select="com.ysj.core.dao.TeacherMapper.selectByPrimaryKey" ></association>
        
    <association column="s_id"  property="sId" javaType="Student"
        select="com.ysj.core.dao.TeacherMapper.selectByPrimaryKey" ></association>
        
  </resultMap>
  <insert id="insert" parameterType="com.ysj.core.po.Distribution" keyColumn="sId" keyProperty="student" >
    insert into title (titl_id, titl_name, t_id, 
      titl_source, titl_type, titl_describe, 
      titl_state, sel_state, major)
    values (#{titlId,jdbcType=BIGINT}, #{titlName,jdbcType=VARCHAR}, #{tId,jdbcType=VARCHAR}, 
      #{titlSource,jdbcType=VARCHAR}, #{titlType,jdbcType=VARCHAR}, #{titlDescribe,jdbcType=VARCHAR}, 
      #{titlState,jdbcType=VARCHAR}, #{selState,jdbcType=VARCHAR}, #{major,jdbcType=VARCHAR})
  </insert>



</mapper>